<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is admin's Dashboard</h1>
    <h3>(arafunte pani)</h3>
    <button onclick="window.location.href='/admin/signIn'">SignIn page</button>
    <button onclick="window.location.href='/admin/signUp'">signUp page (if needed)</button>
</body>
</html>